h1 {
    font-family: sans-serif;
    color: brown;
}
.span {
    position: fixed;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: small;
    background-color: brown;
    height: 20px;
    width: 160px;
    padding: 5px;
}
div {
    display: inline-flex;
    height: 600px;
    width: 700px;
    background-color: rosybrown;
}