span {
    position: fixed;
    background-color: brown;
    height: 50px;
    width: 20px;
    z-index: 1000;
}
.div0 {
    height: 300 px;
    background-color: rosybrown;
}
.div1 {
    height: 300 px;
    background-color: aquamarine;
}