h1 {
    font-family: sans-serif;
    color: brown;
}
.span {
    position: fixed;
    background-color: brown;
    height: 50px;
    width: 80px;
}
div {
    display: inline-flex;
    height: 600px;
    width: 700px;
    background-color: rosybrown;
}