#Horse {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 500px;
}
#haystorage {
    position: absolute;
    color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    top: 570px;
    left: 350px;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#Cow {
    position: absolute;
    top: 125px;
    left: 800px;
    width: 500px;
}
#silagestorage {
    position: absolute;
    color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    top: 570px;
    left: 1020px;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#Cat {
    position: absolute;
    top: 380px;
    left: 60px;
    width: 100px;
}
#catfoodstorage {
    position: absolute;
    color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    top: 570px;
    left: 110px;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#Dog {
    position: absolute;
    top: 390px;
    left: 700px;
    width: 120px;
}
#dogfoodstorage {
    position: absolute;
    color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    top: 570px;
    left: 740px;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#Rooster {
    position: absolute;
    top: 400px;
    left: 1350px;
    width: 130px;
}
#cornstorage {
    position: absolute;
    color:bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    top: 570px;
    left: 1390px;
    width: 100px;
    height: 100px;
    z-index: 100;
}