#Horse {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 500px;
}

#Cow {
    position: absolute;
    top: 280px;
    left: 800px;
    width: 500px;
}

#Cat {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100px;
}

#Dog {
    position: absolute;
    width: 120px;
}

#Rooster {
    position: absolute;
    width: 130px;
}